$desktop-tablet-width: 768px;

@mixin desktop-tablet {
    @media (min-width: $desktop-tablet-width) {
        @content;
    }
}

@mixin desktop-padding {
    padding-left: 48px;
    padding-right: 48px;
}

//colors-primary
$bandsite-black: #323232;
$silver: #afafaf;
$white: #fff;

//colors-secondary
$bandsite-dark-black: #000;
$mercury: #e1e1e1;
$alabaster: #fafafa;
