$tablet-width: 768px;
$desktop-width: 1200px;

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin desktop-padding {
    padding-left: 120px;
    padding-right: 120px;
}

@mixin tablet-padding {
    padding-left: 72px;
    padding-right: 72px;
}

@mixin tablet-padding--narrow {
    padding-left: 56px;
    padding-right: 56px;
}

//colors-primary
$bandsite-black: #323232;
$silver: #afafaf;
$white: #fff;

//colors-secondary
$bandsite-dark-black: #000;
$mercury: #e1e1e1;
$alabaster: #fafafa;
