@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
} 
body {
  margin: 0;
}

h1 {
  font-family: "Avenir";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 68px;
  }
}

h2 {
  font-family: "Avenir";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 3rem;
    line-height: 44px;
  }
}

h3 {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2rem;
    line-height: 32px;
  }
}

h4 {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.75rem;
    line-height: 20px;
  }
}

h5 {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
}
@media (min-width: 768px) {
  h5 {
    font-size: 1rem;
    line-height: 22px;
  }
}

p {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
@media (min-width: 768px) {
  p {
    font-size: 1rem;
    line-height: 22px;
  }
}

img {
  width: 100%;
}

.page-header {
  background-color: #323232;
  color: white;
  display: block;
}
@media (min-width: 768px) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .page-header__title {
    margin-right: 7vw;
  }
}
.page-header__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 768px) {
  .page-header__wrapper {
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: row;
    height: 100%;
    margin-bottom: 0;
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media (min-width: 1200px) {
  .page-header__wrapper {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.page-header__nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .page-header__nav {
    height: 56px;
    width: auto;
  }
}
.page-header__nav--link {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .page-header__nav--link {
    margin: 0 2vw;
  }
}
.page-header__nav--active, .page-header__nav--link:hover {
  border-bottom: 4px solid white;
}
@media (min-width: 768px) {
  .page-header__nav--active, .page-header__nav--link:hover {
    bottom: 0;
  }
}

.hero {
  padding: 0;
  background-image: url("/assets/images/hero-bio.jpg");
  background-size: cover;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .hero {
    height: 500px;
  }
}
.hero__title {
  padding: 24px;
  color: white;
  height: auto;
}
@media (min-width: 768px) {
  .hero__title {
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.about {
  padding: 24px;
  color: #323232;
}
@media (min-width: 768px) {
  .about {
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media (min-width: 1200px) {
  .about {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 768px) {
  .about__narrow-margins {
    padding-left: 56px;
    padding-right: 56px;
  }
}
@media (min-width: 1200px) {
  .about__narrow-margins {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 768px) {
  .about__story {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .about__story--gutter {
    padding: 15px;
  }
}

.photo-gallery {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafafa;
  color: #323232;
}
@media (min-width: 768px) {
  .photo-gallery {
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media (min-width: 1200px) {
  .photo-gallery {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 768px) {
  .photo-gallery__photos {
    display: flex;
    justify-content: space-between;
    align-content: space-evenly;
    flex-wrap: wrap;
  }
}
.photo-gallery__photos img {
  margin: 1.7vw 0;
  filter: grayscale(1);
  transition: 0.3s;
}
@media (min-width: 768px) {
  .photo-gallery__photos img {
    width: 32%;
    margin: 0.9vw 0;
  }
}
.photo-gallery__photos img:hover {
  filter: grayscale(0);
}

.page-footer {
  color: white;
  background-color: #323232;
  width: 100%;
  padding: 24px;
}
@media (min-width: 768px) {
  .page-footer {
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.page-footer__header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
@media (min-width: 768px) {
  .page-footer__header {
    flex-direction: row;
    justify-content: space-between;
  }
}
.page-footer__header-social-pair {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-footer__header-social-pair {
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
  }
}
.page-footer__social {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .page-footer__social {
    margin-left: 45px;
  }
}
.page-footer__social--logo {
  height: 30px;
  width: auto;
}
.page-footer__contacts {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-footer__contacts {
    flex-direction: row;
    justify-content: space-start;
  }
}
@media (min-width: 768px) {
  .page-footer__contacts--card {
    padding-right: 60px;
    width: 260px;
  }
}
@media (min-width: 768px) {
  .page-footer__bandsite--mobile {
    display: none;
  }
}
.page-footer__bandsite--tablet-desktop {
  display: none;
}
@media (min-width: 768px) {
  .page-footer__bandsite--tablet-desktop {
    display: flex;
  }
}/*# sourceMappingURL=bio.css.map */