@use './partials/font-styles' as *;
@use './partials/variables' as *;

.regular-text {
    font-weight: 400;
}

.demibold-text {
    font-weight: 600;
}

iframe {
    width: 50%;
}

// .main {
// }

.shows {
    display: flex;
    flex-direction: column;
    // padding: 0rem 0;
    @include tablet {
        @include tablet-padding;
    }
    @include desktop {
        flex-direction: row;
        @include desktop-padding;
    }

    &__header {
        padding: $mobile-padding;
        margin: 0;
        @include tablet {
            padding: 0.5rem 2rem 2rem 0;
        }
    }
    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__card,
    &__card-header {
        // padding: $mobile-padding;
        padding: 16px;
        border-bottom: 1px solid $mercury;
        display: flex;
        flex-direction: column;

        @include tablet {
            // @include tablet-padding;
            padding: 24px 18px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        // @include desktop {
        //     padding: 0 0 0 2rem;
        // }
        margin: 0;

        &--info {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0.25rem 0;
        }

        &--text {
            padding: 0.4rem 0;
            margin: 0;
            font-weight: 400;
        }
        &--subheader {
            @include tablet {
                display: none;
            }
            padding: 0.4rem 0;
            margin: 0;
            font-weight: 700;
            color: $silver;
            &-tablet {
                display: none;
                @include tablet {
                    width: 100%;
                    display: flex;
                    font-weight: 700;
                    color: $silver;
                }

                &-empty {
                    margin: 0.8rem;
                }
            }
        }
    }
    &__card:hover {
        background-color: $alabaster;
    }

    &__get-tix-button {
        border-radius: 4px;
        background-color: $bandsite-black;
        color: white;
        // padding: 1rem;
        width: 100%;
        // @include tablet {
        //     width: auto;
        // }
        &--text {
            width: auto;
            padding: 0;
            margin: 0;
        }
    }
}

.bold-text {
    font-weight: 700;
}

.selected {
    background-color: $mercury;
}
